#tbl
{
    border-radius: 60%;
    margin-top: 200px;
    height: 300px;
}

body
{
    text-align: center;
}

#section1
{
    height: 800px;
    background: linear-gradient(#42cef5 0%,#42f554 100%);
}

h3
{
    margin-bottom: 200px;
}

h1
{
    font-family: 'Raleway', sans-serif;
}

div
{
    width: 70px;
    background-color: black;
    height: 10px;
}

p
{
    margin-left: 500px;
    margin-right: 500px;
}